<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Карты</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/card_list.css"/>


</head>
<body>
<!--<div th:insert="fragments/menu.html">-->
<!--</div>-->

<div class="filtCard">
    <table class="tFiltCard">
        <tbody>
        <tr>
            <td class="fil">
                ID карты
            </td>
            <td class="fil">
                <label for="C_ID">
                    <input type="text" id="C_ID">
                </label>
            </td>

            <td class="fil">
                Дата корректировки
            </td>
            <td class="fil">
                <label for="C_DATE_KORR">
                    <input type="date" id="C_DATE_KORR">
                </label>
            </td>
            <td class="fil">
                Статус
            </td>
            <td class="fil">
                <label for="C_STATUS">
                    <input type="text" id="C_STATUS">
                </label>
            </td>

        </tr>
        <tr>
            <td class="fil" >
                Номер карты
            </td>
            <td class="fil">
                <label for="C_NUM_CARD">
                    <input type="text" id="C_NUM_CARD">
                </label>
            </td>

            <td class="fil">
                Дата создания
            </td>
            <td class="fil">
                <label for="C_DATE_CREATE">
                    <input type="date" id="C_DATE_CREATE">
                </label>
            </td>
            <td class="fil">
                Ответственный
            </td>
            <td class="fil">
                <label for="C_OTV">
                    <input type="text" id="C_OTV">
                </label>
            </td>
        </tr>
        <tr>
            <td class="tNewCard">
                <input th:action="@{'/card_edit'}" type="submit" value="Создать">
            </td>
            <td class="tExportExcel">
                <input th:action="@{'/export_to_excel'}" type="submit" value="Экспорт в Excel">
            </td>
            <td class="none"></td>
            <td class="none"></td>
            <td class="none"></td>
            <td class="none"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="cardList">
    <table class="tCardList"  id="maintab">
        <thead>
        <tr class="tCardListFilt">
            <th class="fil1">
                id карты
            </th>
            <th class="fil2">
                Ответственный
            </th>
            <th class="fil3">
                Номер карты
            </th>
            <th class="fil4">
                Номер письма
            </th>
            <th class="fil5">
                Система
            </th>
            <th class="fil6">
                Дата корректировки
            </th>
            <th class="fil7">
                Дата создания
            </th>
            <th class="fil8">
                Дата отправления письма
            </th>
        </tr>
        </thead>
        <tbody class="mdata">
        <tr th:each="lst : ${cardsList}" th:action="@{'/open_card'}">
            <td th:text="${lst.idCards}">1</td>
            <td th:text="${lst.idOtv}">1</td>
            <td th:text="${lst.numberCard}">12</td>
            <td th:text="${lst.numberLetter}">32</td>
            <td th:text="${lst.system}">2</td>
            <td th:text="${lst.dateCorrect}">12.12.2022</td>
            <td th:text="${lst.dateCreate}">03.08.2002</td>
            <td th:text="${lst.sendLetter}">22.12.2001</td>


        </tr>
        </tbody>
    </table>
</div>
</body>
</html>