<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Наряды</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/order_list.css}"/>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/main.css}"/>
</head>
<body>
<header class="Menu">
  <table class="tMenu">
    <tbody>
    <tr class="tr1">
      <td class="r1">
        <form>
          <button type="button" id="ORDERS_LIST">
            Наряды
          </button>
        </form>
      </td>
      <td class="r1">
        <form>
          <button type="button" id="CARD_LIST">
            Карты передачи
          </button>
        </form>
      </td>
      <td class="r1">
        <form>
          <button type="button" id="DASHBOARD">
            Доска
          </button>
        </form>
      </td>
      <td class="r1">
        <form>
          <button type="button" id="SETTINGS">
            Настройки
          </button>
        </form>
      </td>
      <td class="r1">
        <form>
          <button type="button" id="SERVICES">
            Сервисы
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</header>
<div class="filtOrder">
  <table class="tFiltOrder">
    <thead>
    <tr>
      <td class="fil">
        ID карты
      </td>
      <td class="fil2">
        <label for="C_ID">
          <input type="text" id="C_ID">
        </label>
      </td>

      <td class="fil">
        Дата корректировки
      </td>
      <td class="fil2">
        <label for="C_DATE_KORR">
          <input type="date" id="C_DATE_KORR">
        </label>
      </td>
      <td class="fil">
        Статус
      </td>
      <td class="fil2">
        <label for="C_STATUS">
          <input type="text" id="C_STATUS">
        </label>
      </td>

    </tr>
    <tr>
      <td class="fil" >
        Номер карты
      </td>
      <td class="fil2">
        <label for="C_NUM_CARD">
          <input type="text" id="C_NUM_CARD">
        </label>
      </td>

      <td class="fil">
        Дата создания
      </td>
      <td class="fil2">
        <label for="C_DATE_CREATE">
          <input type="date" id="C_DATE_CREATE">
        </label>
      </td>
      <td class="fil">
        Ответственный
      </td>
      <td class="fil2">
        <label for="C_OTV">
          <input type="text" id="C_OTV">
        </label>
      </td>
    </tr>
    <tr>
      <td class="tNewOrder">
        <button type="button" id="" class="button newOrder">
          <a th:href="@{order_edit}">
            Создать
          </a>
        </button>
      </td>
      <td class="none"></td>
      <td class="none"></td>
      <td class="none"></td>
      <td class="none"></td>
    </tr>
    </thead>
    <tbody>

    <!-- вывод данных из БД-->

    </tbody>

  </table>
</div>

<div class="orderList">
  <table class="tOrderList">
    <thead>
    <tr class="tOrderListFilt">
      <td class="fil1">
        id наряда
      </td>
      <td class="fil1">
        № Наряда
      </td>
      <td class="fil1">
        Система
      </td>
      <td class="fil1">
        Технолог
      </td>
      <td class="fil1">
        Программист
      </td>
      <td class="fil1">
        Дата создания
      </td>
    </tr>
    </thead>
    <tbody class="mdata">

    <tr th:each="ol : ${listOrders}">
      <td th:text="${ol.idOrder}">1</td>
      <td th:text="${ol.number}">1</td>
      <td th:text="${ol.systems}">12</td>
      <td th:text="${ol.idTech}">32</td>
      <td th:text="${ol.idProg}">2</td>
      <td th:text="${ol.dateCreate}">12.12.2022</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>