<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/page_not_found.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/main.css}"/>
</head>
<body>
<!--<header class="Menu">-->
<!--    <table class="tMenu">-->
<!--        <tbody>-->
<!--        <tr class="tr1">-->
<!--            <td class="r1">-->
<!--                <form>-->
<!--                    <button type="button" id="" >-->
<!--                        <a th:href="@{page_not_found}">-->
<!--                            Наряды-->
<!--                        </a>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td class="r1">-->
<!--                <form>-->
<!--                    <button type="button" id="" >-->
<!--                        <a th:href="@{card_list}">-->
<!--                            Карты передачи-->
<!--                        </a>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td class="r1">-->
<!--                <form>-->
<!--                    <button type="button" id="" >-->
<!--                        <a th:href="@{card_list}">-->
<!--                            Доска-->
<!--                        </a>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td class="r1">-->
<!--                <form>-->
<!--                    <button type="button" id="" >-->
<!--                        <a th:href="@{page_not_found}">-->
<!--                            Настройки-->
<!--                        </a>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td class="r1">-->
<!--                <form>-->
<!--                    <button type="button" id="" >-->
<!--                        <a th:href="@{page_not_found}">-->
<!--                            Сервисы-->
<!--                        </a>-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</header>-->
<h1><p>Error 404. Page not found</p></h1>
<h1><p>Упс...</p></h1>
<h1><p>Эта страница пока отсутствует, совсем скоро здесь что-то будет</p></h1>
</body>
</html>